#page-landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgba(12,31,114,1) 0%, rgba(2,65,182,1) 50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper {
  position: relative;

  width: 100%;
  max-width: 1100px;

  height: 100%;
  max-height: 680px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  background: url('../../images/hug.svg') no-repeat 80% center;
}
 
#page-landing .content-wrapper main {
  max-width: 400px;
  padding-bottom: 70px;
}

#page-landing .content-wrapper main h1 {
  font-size: 76px;
  font-weight: 900;
  line-height: 80px;

}

#page-landing .content-wrapper main p {
  margin-top: 40px;
  font: 24px;
  line-height: 34px;
}

.content-wrapper .location {
  position: absolute;
  right: 0;
  top: 0;

  font-size: 20px;
  line-height: 34px;

  display: flex;
  flex-direction: column;

  text-align: right;
}

.content-wrapper .location strong {
  font-weight: 800;
}

.content-wrapper .enter-app {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 60px;
  width: 80px;
  height: 80px;

  background: #E3F1F3;
  border-radius: 30px;

  display: flex;
  align-items: center;
  justify-content: center; 

  transition: bacground-color 0.2s;
}

.content-wrapper .enter-app:hover {
  background: #B7D6F3;

}